/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* Navbar styles for large screens */
.navbar {
  position: fixed;
  background-color: #333; /* Main navbar background color */
  color: white;
  padding: 1.25rem 3.125rem; /* 20px 50px */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1000;
}

.navbar__name {
  font-family: 'Lobster', cursive;
  font-size: 1.875rem; /* 30px */
  font-weight: bold;
  color: #fff;
  margin: 0;
}

/* Menu styles for large screens */
.navbar__menu {
  display: flex; /* Menu is visible on large screens */
}

.navbar__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding-right: 3.125rem; /* 50px */
}

.navbar__link {
  text-decoration: none;
  color: white;
  padding: 0.625rem 1.25rem; /* 10px 20px */
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar__link li {
  cursor: pointer;
}

.navbar__link:hover {
  background-color: #555;
  border-radius: 0.3125rem; /* 5px */
  color: #dff115;
}

.navbar__link.active {
  background-color: #f4a261; /* Highlight the active link */
  border-radius: 0.3125rem; /* 5px */
}

.navbar__link + .navbar__link {
  margin-left: 1.875rem; /* 30px */
}

/* Hamburger Menu Styles (Initially hidden) */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 1.25rem; /* 20px */
}

.hamburger div {
  width: 1.5625rem; /* 25px */
  height: 0.1875rem; /* 3px */
  background-color: white;
  margin: 0.3125rem 0; /* 5px 0 */
  transition: all 0.3s ease;
}

/* Media Queries for smaller screens (768px or smaller) */
@media (max-width: 48em) { /* 768px */
  .navbar {
    justify-content: space-between;
    padding: 1.25rem 1.5625rem; /* 20px 25px */
  }

  /* Align navbar name on the left */
  .navbar__name {
    text-align: left;
    flex-grow: 1;
  }

  /* Display the hamburger menu on small screens */
  .hamburger {
    display: flex;
    padding-right: 1.25rem; /* 20px */
  }

  /* Hide the full navbar menu initially */
  .navbar__menu {
    display: none; /* Hide on small screens */
    flex-direction: column;
    width: 100%;
    position: absolute; 
    top: 3.75rem; 
    left: 0;
    background-color: rgba(255, 255, 255, 0.8); 
    color: black;
  }

  /* Show menu in vertical direction when active */
  .navbar__menu.active {
    display: flex;
  }

  /* Adjust the menu list for smaller screens */
  .navbar__list {
    flex-direction: column;
    padding: 0;
    width: 80%;
    margin: 0 auto; /* Center align the list */
  }

  /* Full width links for smaller screens */
  .navbar__link {
    padding: 0.9375rem; /* 15px */
    width: 100%;
    margin-bottom: 0.625rem; /* 10px */
  }

  /* Hide the navbar list and links initially */
  .navbar__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    color: black;
    opacity: 1; /* Set opacity to 1 to show full visibility */
    margin: 0;
  }
  .navbar__list a li {
    color: black;
  }
}
